/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  body {
  }

  nav {
    height: 30px;
    background-color: #fff;
  }

  header {
    height: 170px;
    color: #fff;
  }

  header h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 144px;
    text-transform: lowercase;
    text-align: center;
    padding: 0 0 20px 0;
    letter-spacing: 5px;
  }

  header h1 span {
    color: #910000;
  }

  div.content {
  }

  section.search {
    text-align: center;
    padding-bottom: 15px;
  }

  section.search h2 {
    color: #555;
    padding: 15px;
  }

  section.search input#search {
    width: 50%;
    font-size: 35px;
    height: 50px;
  }

  img#ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}
