{{> search }}

<section class="twelvecol last gem_info">
  <div class="row">
    <h2>
      The following projects list
      <a href="http://rubygems.org/gems/{{ gem }}" class="rubygems">{{ gem }}</a>
      as a dependency:</h2>
  </div>

  <section class="row">
    {{# repos }}
    <div class="repository-info">
      <div class="watchers">
        {{ watchers }}
        <p>watchers</p>
      </div>
      <div class="forks">
        {{ forks }}
        <p>forks</p>
      </div>
      <div class="repository">
        <a href="{{ url }}">{{ owner }}/{{ name }}</a>
      </div>
    </div>
    {{/ repos }}
  </div>
</section>
