{{> search }}

<section class="container">
  <div class="row">
    <div class="dashboard eightcol">
      <h2>Most-used Gems</h2>

      {{# gems }}
      <div class="gem">
        <div class="count">{{count}}</div>
        <div class="gem"><a href="/gems/{{name}}">{{name}}</a></div>
      </div>
      {{/ gems }}
    </div>

    <aside class="about fourcol last">
      <h2>What is this?</h2>
      <p>For some developers, the best way to learn how to use a gem is to see
      how other projects use it in the real world. But what if you can't easily
      find a project that uses the gem you're trying to learn about?  Gemphile
      was created to index the Gemfiles and gemspecs of Ruby projects on GitHub
      and then to provide a simple search interface to find those projects.</p>

      <h2>Why don't I see my project?</h2>
      <p>We just don't know about it yet! Please add it:</p>
      <form method="post" action="/add">
        <fieldset>
          <input type="text" id="repo" name="repo" placeholder="tsigo/gemphile" />
          <input type="submit" name="submit" value="Add" />
          <span class="hint">Enter your GitHub username to add all of your public Ruby repositories, or
            enter a <code>username/repository</code> combination to add only that repository.</span>
        </fieldset>
      </form>
    </aside>
  </div>
</section>
