<section class="container search">
  <form method="get" action="/search">
    <h2><label for="search">Search for a gem to find projects that use it</label></h2>
    <input type="text" id="search" name="q" placeholder="Gem Search" />
  </form>
</section>
