<section class="twelvecol last search">
  <h2>Search for a gem to find projects that use it</h2>
  <form method="get" action="/search">
    <input type="text" id="search" name="q" placeholder="Gem Search" />
  </form>
</section>
